
@media only screen and (max-width: 600px) {
    .nav-links {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
.header{
    font-size: 1rem;
}
    .nav-links li {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        font-size: 2rem; 

    }
    
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px; 
    }
    .nav-links li {
        font-size: 1.2rem;  
    }
}
